{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col">
                <div class="flip-card" id="flashcard">
                    <div class="flip-card-inner" id="flip-btn">
                        <!-- Front -->
                        <div class="card text-center p-4 flip-card-front">
                            <h5 class="card-title">Question</h5>
                            <div class="card-text" id="question"></div>
                        </div>
                        <!-- Back -->
                        <div class="card text-center p-4 flip-card-back text-white">
                            <h5 class="card-title">Answer</h5>
                            <div class="card-text" id="answer"></div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col">
                <div class="d-grid gap-3">
                    <button class="btn btn-primary" id="next-btn" type="button">Next</button>
                </div>
            </div>
        </div>
    </div>
    {{ questions_json|json_script:"flashcards-data" }}
    <script src="{% static 'js/flashcards.js' %}"></script>
{% endblock %}